body {
	margin: 0;
}


/* Désactive les boîtes laides autour des images dans IE10 */
a img{
	border: 0px;
}


/* Portion du document sélectionné par l’utilisateur (avec la souris…) */
::-moz-selection {
	background-color: #cc33ff;
	color: #fff;
}

::selection {
	background-color: #cc33ff;
	color: #fff;
}


/* Ligne du haut */
.vino-entete .mdl-menu__container {
	z-index: 50;
	margin: 0 !important;
}


/* Bouton d’action flottant (FAB) qui permet d’aller à la première section de la page */
.vino-fab {
	position: absolute;
	right: 20%;
	bottom: -26px;
	z-index: 3;
	background: #d7a9ef !important;
	color: black !important;
}


/* Affichage du logo pour les cellulaires */
.vino-logo-cell {
	display: none !important;
}


/* Logo */
.vino-logo-image {
	height: 24px;
	width: 140px;
}


/* Ligne du haut */
.vino-entete {
	overflow: visible;
	background-color: white;
}


/* Menu burger dessiné par le JS */
.vino-entete .material-icons {
	color: #7b1fa2 !important;
}


/* Encadré du burger lors de sa sélection */
.vino-entete .mdl-layout__drawer-button {
	background: transparent;
	color: #7b1fa2;
}


/* Liens de l’en-tête */
.vino-entete .mdl-navigation__link {
	color: #7b1fa2;
	font-weight: 700;
	font-size: 14px;
}


/* Conteneur de la barre de navigation */
.vino-navigation-conteneur {
	/* Simple hack to make the overflow happen to the left instead... */
	direction: rtl;
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
	width: 500px;
	transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
	width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}


.vino-navigation {
	/* ... and now make sure the content is actually LTR */
	direction: ltr;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	width: 800px;
}


/* Liens de la barre de navigation */
.vino-navigation .mdl-navigation__link {
	display: inline-block;
	height: 60px;
	line-height: 68px;
	background-color: transparent !important;
	border-bottom: 4px solid transparent;
}

.vino-navigation .mdl-navigation__link:hover {
	border-bottom: 4px solid #7b1fa2;
}


.vino-drawer {
  border-right: none;
}

  .vino-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }

  .vino-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
  }

  .vino-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #8bc34a;
  }

  .vino-drawer .mdl-layout-title {
    position: relative;
    background: #6ab344;
    height: 160px;
  }

    .vino-drawer .vino-logo-image {
      position: absolute;
      bottom: 16px;
    }

.vino-be-together-section {
  position: relative;
  height: 800px;
  width: auto;
  background-color: #f3f3f3;
  background: url('images/slide01.jpg') center 30% no-repeat;
  background-size: cover;
}

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 500;
}

.vino-slogan {
  font-size: 60px;
  padding-top: 160px;
}

.vino-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
}

.vino-create-character {
  font-size: 21px;
  padding-top: 400px;
}

  .vino-create-character a {
    text-decoration: none;
    color: #767777;
    font-weight: 300;
  }

.vino-screen-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
}

.vino-screens {
  text-align: right;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

.vino-screen {
  text-align: center;
}

.vino-screen .vino-link {
  margin-top: 16px;
  display: block;
  z-index: 2;
}

.vino-image-link {
  text-decoration: none;
}

.vino-wear {
  display: inline-block;
  width: 160px;
  margin-right: 32px;
}

  .vino-wear .vino-screen-image {
    width: 40%;
    z-index: 1;
  }


.vino-phone {
  display: inline-block;
  width: 64px;
  margin-right: 48px;
}

  .vino-phone .vino-screen-image {
    width: 100%;
    z-index: 1;
  }


.vino-tablet {
  display: inline-block;
  width: 110px;
  margin-right: 64px;
}

  .vino-tablet .vino-screen-image {
    width: 100%;
    z-index: 1;
  }

  .vino-tablet .vino-link {
    display: block;
    z-index: 2;
  }


.vino-tv {
  display: inline-block;
  width: 300px;
  margin-right: 80px;
}

  .vino-tv .vino-screen-image {
    width: 100%;
    z-index: 1;
  }


.vino-auto {
  display: inline-block;
  width: 300px;
  overflow: hidden;
}

  .vino-auto .vino-screen-image {
    display: block;
    height: 300px;
    z-index: 1;
  }


.vino-wear-section {
  position: relative;
  background: url('images/wear.png') center top no-repeat;
  background-size: cover;
  height: 800px;
}

.vino-wear-band {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #37474f;
}

.vino-wear-band-text {
  max-width: 800px;
  margin-left: 25%;
  padding: 24px;
  text-align: left;
  color: white;
}

  .vino-wear-band-text p {
    padding-top: 8px;
  }

.vino-link {
  text-decoration: none;
  color: #8bc34a !important;
}

  .vino-link:hover {
    color: #7cb342 !important;
  }

  .vino-link .material-icons {
    position: relative;
    top: -1px;
    vertical-align: middle;
  }

.vino-alt-link {
  text-decoration: none;
  color: #64ffda !important;
  font-size: 16px;
}

  .vino-alt-link:hover {
    color: #00bfa5 !important;
  }

  .vino-alt-link .material-icons {
    position: relative;
    top: 6px;
  }

.vino-customized-section {
  text-align: center;
}

.vino-customized-section-text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 16px 0 16px;
}

  .vino-customized-section-text p {
    padding-top: 16px;
  }

.vino-customized-section-image {
  background: url('images/devices.jpg') center top no-repeat;
  background-size: cover;
  height: 400px;
}

.vino-more-section {
  padding: 80px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}

  .vino-more-section .vino-section-title {
    margin-left: 12px;
    padding-bottom: 24px;
  }

.vino-card-container {
}

  .vino-card-container .mdl-card__media {
    overflow: hidden;
    background: transparent;
  }

    .vino-card-container .mdl-card__media img {
      width: 100%;
    }

  .vino-card-container .mdl-card__title {
    background: transparent;
    height: auto;
  }

  .vino-card-container .mdl-card__title-text {
    color: black;
    height: auto;
  }

  .vino-card-container .mdl-card__supporting-text {
    height: auto;
    color: black;
    padding-bottom: 56px;
  }

  .vino-card-container .mdl-card__actions {
    position: absolute;
    bottom: 0;
  }

  .vino-card-container .mdl-card__actions a {
    border-top: none;
    font-size: 16px;
  }

.vino-footer {
  background-color: #fafafa;
  position: relative;
}

  .vino-footer a:hover {
    color: #8bc34a;
  }

  .vino-footer .mdl-mega-footer--top-section::after {
    border-bottom: none;
  }

  .vino-footer .mdl-mega-footer--middle-section::after {
    border-bottom: none;
  }

  .vino-footer .mdl-mega-footer--bottom-section {
    position: relative;
  }

  .vino-footer .mdl-mega-footer--bottom-section a {
    margin-right: 2em;
  }

  .vino-footer .mdl-mega-footer--right-section a .material-icons {
    position: relative;
    top: 6px;
  }


.vino-link-menu:hover {
  cursor: pointer;
}


/**** Mobile layout ****/
@media (max-width: 900px) {
  .vino-navigation-conteneur {
    display: none;
  }

  .vino-title {
    display: none !important;
  }

  .vino-logo-cell {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
     consecutive "+" operators in some cases. Therefore, we need to use both
     here to cover all the bases. */
  .vino.vino-search-box.is-focused ~ .vino-logo-cell,
  .vino-search-box.is-focused + .vino-navigation-conteneur + .vino-logo-cell {
    opacity: 0;
  }

  .vino-more-button {
    display: none;
  }

  .vino-search-box.is-focused {
    width: calc(100% - 48px);
  }

  .vino-search-box .mdl-textfield__expandable-holder {
    width: 100%;
  }

  .vino-be-together-section {
    height: 350px;
  }

  .vino-slogan {
    font-size: 26px;
    margin: 0 16px;
    padding-top: 24px;
  }

  .vino-sub-slogan {
    font-size: 16px;
    margin: 0 16px;
    padding-top: 8px;
  }

  .vino-create-character {
    padding-top: 200px;
    font-size: 16px;
  }

  .vino-create-character img {
    height: 12px;
  }

  .vino-fab {
    display: none;
  }

  .vino-wear-band-text {
    margin-left: 0;
    padding: 16px;
  }

  .vino-footer .mdl-mega-footer--bottom-section {
    display: none;
  }
}
